*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.picture{
    display: block;
    width: 350px;
    margin: 30px auto;
}

.picture_img{
    width: 100%;
    max-height: 600px;
}

.show{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    transform: translate(100%);
    transition: transform 0.5s ease;
}

.show_image{
    width: 90%;
    height: 70%;
    background-image: url(image.jpg);
    background-size: cover;
    margin: auto;
    display: flex;
    justify-content: right;
}

.show_close{
    background-color: crimson;
    color: #fff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
}

.show:target{
    transform: translate(0);
}