@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import "tailwindcss";


@theme {
    --font-dancing: 'Dancing Script', cursive;
    --font-weight-ligera: 12;


    --color-coral: #F08080;
}

@layer components{
    .card{
        @apply bg-red-500 grid place-content-center rounded-lg
        text-white font-bold border-2 border-red-800
        text-4xl
    } 

    .card2{
        @apply  bg-red-500 grid place-content-center rounded-lg
        text-white font-bold border-2 border-red-600
        text-3xl p-9
    }
}