section{
    width: auto;
    height: 700px;
    border: 2px solid black;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.cajas{
    border: 4px solid black;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding: 20px;
    margin: 10px;
}

.red{
    background-color: red;
    align-self: flex-end;
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
    align-self: center;
}

