* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 70%;
    height: 70vh;
}

.banner {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 6rem;
}

.slideshow {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slide-btn {
    width: 1.3rem;
    height: 1.3rem;
    background-color: #bbb;
    border: 0.3rem solid #d38800;
    border-radius: 50%;
    position: absolute;
    top: 95%;
    z-index: 1;
}

.slide-btn:focus {
    background-color: #12376e;
}

.slide-btn-1:focus~.slideshow-wrapper {
    animation: none;
    left: 0;
}

.slide-btn-2:focus~.slideshow-wrapper {
    animation: none;
    left: -100%;
}

.slide-btn-3:focus~.slideshow-wrapper {
    animation: none;
    left: -200%;
}

.slide-btn-4:focus~.slideshow-wrapper {
    animation: none;
    left: -300%;
}

.slide-btn-1 {
    left: 44%;
}

.slide-btn-2 {
    left: 48%;
}

.slide-btn-3 {
    left: 52%;
}

.slide-btn-4 {
    left: 56%;
}

.slideshow-wrapper {
    display: flex;
    width: 400%;
    height: 100%;
    position: relative;
    position: absolute;
    /* top: 0;
    left: 0; */
    overflow: hidden;
    animation: animacion 15s infinite;
}

.texto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #12376e;
    font-size: 4rem;
    top: 30%;
    width: 100%;
    position: absolute;
    text-align: center; 
    z-index: 5;
}

.boton-comprar {
    border: none;
    cursor: pointer;
    margin-top: 2rem;
    padding: 10px 30px;
    background-color: #12376e;
    border: 1px solid white;
    color: white;
    
    height: 40px; 
    overflow: hidden;
    
    transition: background-color 0.45 ease; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.boton-comprar p {
    margin: 0; 
    transition: transform 0.5s ease-in-out;
    font-size: 1rem; 
    line-height: 20px;
    white-space: nowrap;
}

.boton-comprar p:nth-child(1){
    margin-bottom: 20px; /* REVERTIDO al valor original */
}

.boton-comprar:hover {
    background-color: #0b2249;
}

.boton-comprar:hover p {
    transform: translateY(-200%); /* REVERTIDO al valor original */
}

.slide {
    width: 25%;
    height: 100%;
}

.slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes animacion {
    0% {
        left: 0;
    }

    5% {
        left: 0;
    }

    10% {
        left: -100%;
    }

    20% {
        left: -100%;
    }

    30% {
        left: -200%;
    }

    40% {
        left: -200%;
    }

    50% {
        left: -300%;
    }

    60% {
        left: -300%;
    }

    70% {
        left: -200%;
    }

    80% {
        left: -200%;
    }

    85% {
        left: -100%;
    }

    95% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}