/* Variables */
:root {
    --first-color: rgb(217, 0, 98);
    --first-alpha-color: rgba(217, 0, 98, 0.75);

    --second-color: rgb(20, 25, 45);
    --second-alpha-color: rgba(20, 25, 45, 0.75);

    --third-color: rgb(80, 20, 100);
    --third-alpha-color: rgba(80, 20, 100, 0.75);

    --link-color: rgb(80, 158, 227);
    --link-alpha-color: rgba(80, 158, 227, 0.75);

    --bg-color: rgb(245, 245, 245);
    --bg-alpha-color: rgba(245, 245, 245, 0.75);
}

body {
    font-family: 'Raleway', sans-serif;
}

.navbar-brand img {
    height: 3rem;
    width: auto;
}

.bg-dark {
    background-color: var(--second-color) !important;
}

.nav-item {
    transition: all 0.3s ease-out;
}

.nav-item:hover {
    background-color: var(--first-alpha-color);
}

.nav-link {
    color: var(--first-color);
    font-size: 1.15rem;
    font-weight: bold;
}

.nav-link:hover {
    color: var(--bs-white);
}

.navbar-dark .navbar-toggler-icon {
    --bs-navbar-toggler-bg: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-toggler-icon:hover {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(217, 0, 98, 0.75)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    transition: all 0.3s ease-out;
}

.dropdown-item {
    color: var(--first-alpha-color);
    font-weight: bold;
    transition: all 0.3 ease-out;
}

.dropdown-item:hover {
    color: var(--third-alpha-color);
}

a {
    color: var(--link-color);
    transition: all 0.3s ease-out;
}

a:hover {
    color: var(--first-color);
}

/* Estilos al index.html */
.bg-gradient-blue-green {
    background-image: linear-gradient(131deg, rgba(28, 118, 172, 0.92), rgba(83, 184, 152, 1));
}

.bg-third-color {
    background-color: var(--third-color) !important;
}

.text-third-color {
    color: var(--third-color) !important;
}


/* Estilos de la página sitios.html */
.bg-color {
    background-color: var(--bg-color);
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23D9003A' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23D9003A' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}

.bg-img1 {
    background-image: url(img/site-singlepage.jpg);
    background-position: center;
}

.bg-img2 {
    background-image: url(img/site-multipage.jpg);
    background-position: center;
}

.bg-hero-image {
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-alpha-color{
    background-color: var(--bg-alpha-color);
}


/* Estilos página clientes.html */
.bg-second-alpha-color{
    background-color: var(--second-alpha-color);
}

/* Estilos página contacto.html */
.carousel-caption{
    z-index: 1;
}



/* Media Query */
@media (min-width: 992px) {
    .nav-item:hover {
        background-color: transparent;
    }


}