.section-hero {
    text-align: center;
}

.section {
    margin: 0 auto;
    width: 90%;
}

.imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.imgs img {
    width: 30%;
    border-radius: 4px;
    box-shadow: 0px 0px 4px grey;
}

.section-galeria {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    gap: 4rem;
}

.section-galeria img {
    border-radius: 4px;
    box-shadow: 0px 0px 4px grey;
}

.uno {
    order: 1;
}

.dos {
    order: 2;
}

.subtitulo {
    font-weight: bolder;
    margin-bottom: -15px;
    font-size: large;
}


/* Responsive */
/* Tamaño Tablet */
@media screen and (min-width: 501px) and (max-width:800px){
    .imgs img { 
        width: 40%;
    }

    .section-galeria{
        flex-direction: column;
    } 

    .dos{
        order: 1;
    }
}


/* Tamaño movil */
@media screen and (max-width:500px) {
    .imgs img { 
        width: 90%;
    }

    .section-galeria{
        flex-direction: column;
    }

    .dos{
        order: 1;
    }
}